name: Hacomfoair MQTT
slug: hacomfoairmqtt
version: "1.0"
description: ComfoAir via Waveshare RS232-to-WiFi (TCP)

startup: services
boot: auto
init: false

arch:
  - amd64
  - aarch64
  - armv7
  - armhf

options:
  comfoair_host: "192.168.40.130"
  comfoair_port: 8899
  Serial_port: "/tmp/comfoair"
  RS485_protocol: false
  refresh_interval: 10
  enablePcMode: false
  debug: false
  FanOutAbsent: 15
  FanOutLow: 30
  FanOutMid: 50
  FanOutHigh: 70
  FanInAbsent: 15
  FanInLow: 30
  FanInMid: 50
  FanInHigh: 70
  SetUpFanLevelsAtStart: false
  HAEnableAutoDiscoverySensors: true
  HAEnableAutoDiscoveryClimate: true
  HAAutoDiscoveryDeviceName: "CA350"
  HAAutoDiscoveryDeviceId: "ca350"
  HAAutoDiscoveryDeviceManufacturer: "Zehnder"
  HAAutoDiscoveryDeviceModel: "Comfoair 350"
  
  mqtt_base_topic: "comfoair"
  ha_discovery: true

schema:
  comfoair_host: str
  comfoair_port: int
  Serial_port: str
  RS485_protocol: bool
  refresh_interval: int
  enablePcMode: bool
  debug: bool
  FanOutAbsent: int
  FanOutLow: int
  FanOutMid: int
  FanOutHigh: int
  FanInAbsent: int
  FanInLow: int
  FanInMid: int
  FanInHigh: int
  SetUpFanLevelsAtStart: bool
  HAEnableAutoDiscoverySensors: bool
  HAEnableAutoDiscoveryClimate: bool
  HAAutoDiscoveryDeviceName: str
  HAAutoDiscoveryDeviceId: str
  HAAutoDiscoveryDeviceManufacturer: str
  HAAutoDiscoveryDeviceModel: str
  
  mqtt_base_topic: str
  ha_discovery: bool

services:
  - mqtt:need